@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Comic Neue', cursive;
    font-size: 16px;
}
.dark_mode {
    position: absolute;
    top: 20px;
    right: 40px;
}

.light {
    display: none;
}

.btn {
    text-decoration: none;
    background-color: #3b4045;
    font-weight: bold;
    padding: 14px 30px;
    border-radius: 4px;
    outline: 0;
    color: #cfd2d6;
}
.btn.disabled {
    background-color: transparent;
    color: #3b4045;
    border: 1px solid #3b4045;
    cursor: no-drop;
}
.punto {
    width: 25px;
    height: 25px;
    background-color: #3b4045;
    border-radius: 50%;
}

.cara {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    padding: 0;
    margin: 0;
    position: absolute;
    opacity: 1;
    transition: opacity 50ms linear;
}
.cara.ocultar {
    opacity: 0;
}
.cara li {
    text-align: center;
    margin: 0 auto;
}
.dado {
    border: 2px solid #4a4e51;
    width: 120px;
    height: 120px;
    padding: 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 50px;
}

body.dark {
    color: #cfd2d6;
    background-color: #3b4045;
}

body.dark .light {
    display: block;
}
body.dark .dark {
    display: none;
}

body.dark .punto {
    background-color: #cfd2d6;
}

body.dark .btn {
    text-decoration: none;
    background-color: #cfd2d6;
    font-weight: bold;
    padding: 14px 30px;
    border-radius: 4px;
    outline: 0;
    color: #3b4045;
}
body.dark .btn.disabled {
    background-color: transparent;
    color: #cfd2d6;
    border: 1px solid #cfd2d6;
    cursor: no-drop;
}